@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;
}

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-b from-yellow-300 via-yellow-50 to-white text-gray-900;
  }
}

/* Custom Marker Styles */
.bus-marker {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  display: block;
  border: none;
}